body {
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}
h1 {
  font-size: 80px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #099fff, 0 0 20px #099fff,
    0 0 25px #099fff, 0 0 30px #099fff, 0 0 35px #099fff;
}
.purpleBrand {
  width: 140px;
  margin: auto;
}
.picture {
  margin-left: auto;
}
